body {
    background-image: url("https://wallpaperaccess.com/full/1901660.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    font-family: "Jaro", sans-serif;
     
}

h1 {
    color:rgb(156, 18, 18);
    font-size: 100px;
    margin: 10px;
}

p {
    color:rgba(160, 160, 160, 0.623);
    font-size: 80px;

}
.caixa {
    background-color: rgba(0, 0, 0, 0.61);
    border-top: double darkred;
    
}
.sem {
        padding: 1px;
    }
    